// Place all the styles related to the upĺoads controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#titulo {
  margin-bottom: 15px;
  margin-top: 30px;
}

table {
  margin-bottom: 15px;
}

hr {
  margin-bottom: 15px;
}
